* {
  font-family: 'Karla', sans-serif;
  /* font-family: 'Markazi Text', serif; */
}

:root {
  /* primary colors */
  --ui-kit-yellow: #F4CE14;
  --ui-kit-green: #495E57;

  --ui-kit-white: white;
  --ui-kit-black: black;

  /* secondary colors */
  --ui-kit-orange: #FF7E36;

  /* highlight colors */
  --ui-kit-light-green: #edefee;
}

main {
  padding-top: 72px;
}

.navbar-toggler.m-custom {
  color: var(--ui-kit-black);
  border: 0 none;
}

header,
main > section {
  background-color: var(--ui-kit-white);
}

.full-screen-wrapper {
  padding: 25px 0;
  background-color: var(--ui-kit-green);
}

.home-main-article h1 {
  margin-bottom: -30px;;
  font-family: 'Markazi Text', serif;
  font-size: 3.5rem;
  font-style: normal;
  color: var(--ui-kit-yellow);
}

.home-main-article small {
  font-family: Markazi Text;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  color: var(--ui-kit-white);
}

.home-main-article p {
  font-family: Karla;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  color: var(--ui-kit-white);
  max-width: calc(100% / 2);
}

.home-main-article img {
  position: absolute;
  top: 7rem;
  right: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 136px;
  height: 136px;
  object-fit: cover;
}

.specials {
  text-align: center;
  flex-direction: column;
}

.card-wrapper {
  flex-direction: column;
}

.card.m-custom {
  border: 0 none;
  border-radius: 0.5rem;
  background-color: var(--ui-kit-light-green);

  font-family: Karla;
}

.card.m-custom .card-title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;

  color: var(--ui-kit-black);
}

.card.m-custom .card-price {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;

  color: var(--ui-kit-orange);
}

.card.m-custom .card-text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;

  color: var(--ui-kit-green);
}

.card.m-custom  .card-text.m-order {
  font-family: Karla;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;

  color: var(--ui-kit-black);
}

.card-text.m-order .icon-motobike {
  height: 15px;
}

.card.m-custom img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 150px;
}

footer {
  padding: 25px 0;
  background-color: var(--ui-kit-green);
  color: var(--ui-kit-white);
  text-align: center;
}

.ll-button-primary {
  padding: 0.3125rem 0.9375rem;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  border-radius: 0.5rem;
  background: var(--ui-kit-yellow);
  color: var(--ui-kit-black);

  transition: .3s all;
}

.ll-button-primary:hover {
  background: var(--ui-kit-orange);
  color: var(--ui-kit-white);
}

.ll-button-primary:hover:active {
  box-shadow: inset -4px -4px 12px var(--ui-kit-green);
}

a.ll-button-primary,
a.ll-button-primary:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .home-main-article h1 {
    font-size: 4rem;
  }

  .specials {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .navbar,
  .full-screen-wrapper > article,
  main > section,
  .specials {
    width: calc(100% * (3 / 4));
    margin: 0 auto;
  }

  .home-main-article img {
    float: right;
    position: relative;
    right: 0;
    top: 0;
    width: 275px;
    height: 290px;
    max-width: none;
  }

  .home-main-article p {
    max-width: calc(100% / 3);
  }

  .card-wrapper {
    flex-direction: row;
  }
}
